binds {
	Mod+Escape		{ quit; }
	Ctrl+Alt+Delete		{ quit; }
	Mod+Q repeat=false	{ close-window; }
	Mod+O repeat=false	{ toggle-overview; }
	Mod+V			{ toggle-window-floating; }
	Mod+W			{ toggle-column-tabbed-display; }

	Mod+Comma		{ consume-window-into-column; }
	Mod+Period		{ expel-window-from-column; }

	// Apps
	Mod+T	{ spawn "ghostty"; }
	Mod+B	{ spawn "yandex-browser-stable"; }
	Mod+G 	{ spawn "wl-kbptr";}

	// Focus
	Mod+H	{ focus-column-left; }
	Mod+J	{ focus-window-or-workspace-down; }
	Mod+K	{ focus-window-or-workspace-up; }
	Mod+L	{ focus-column-right; }
	Mod+1	{ focus-workspace 1; }
	Mod+2	{ focus-workspace 2; }
	Mod+3	{ focus-workspace 3; }
	Mod+4	{ focus-workspace 4; }
	Mod+5	{ focus-workspace 5; }
	Mod+6	{ focus-workspace 6; }
	Mod+7	{ focus-workspace 7; }
	Mod+8	{ focus-workspace 8; }
	Mod+9	{ focus-workspace 9; }

	// Move
	Mod+Ctrl+H	{ move-column-left; }
	Mod+Ctrl+J	{ move-window-down-or-to-workspace-down; }
	Mod+Ctrl+K	{ move-window-up-or-to-workspace-up; }
	Mod+Ctrl+L	{ move-column-right; }
	Mod+Ctrl+1	{ move-column-to-workspace 1; }
	Mod+Ctrl+2	{ move-column-to-workspace 2; }
	Mod+Ctrl+3	{ move-column-to-workspace 3; }
	Mod+Ctrl+4	{ move-column-to-workspace 4; }
	Mod+Ctrl+5	{ move-column-to-workspace 5; }
	Mod+Ctrl+6	{ move-column-to-workspace 6; }
	Mod+Ctrl+7	{ move-column-to-workspace 7; }
	Mod+Ctrl+8	{ move-column-to-workspace 8; }
	Mod+Ctrl+9	{ move-column-to-workspace 9; }

	// Resize
	Mod+R		{ switch-preset-column-width; }
	Mod+Shift+R	{ switch-preset-window-height; }
	Mod+Ctrl+R	{ reset-window-height; }
	Mod+F		{ maximize-column; }
	Mod+Shift+F	{ fullscreen-window; }
	Mod+Shift+H	{ set-column-width "-5%"; }
	Mod+Shift+L	{ set-column-width "+5%"; }
	Mod+Shift+K	{ set-window-height "-10%"; }
	Mod+Shift+J	{ set-window-height "+10%"; }

	// Encoder/Joystick control
	XF86AudioRaiseVolume allow-when-locked=true	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
	XF86AudioLowerVolume allow-when-locked=true	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute        allow-when-locked=true	{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute     allow-when-locked=true	{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
}
